.root {
    -fx-font-family: 'Arial', sans-serif;
}

.button {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 2);
    -fx-cursor: hand;
}

.button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}